<div ng-controller="cartController as cartCtrl">
    <h2 class="neon-text">Cart</h2>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <table class="records" ng-show="cartCtrl.cartService.cart.length > 0">
        <thead>
        <th>
            Name
        </th>
        <th>
            Artist
        </th>
        <th>
            Price
        </th>
        <th>
            Quantity
        </th>
        <th>
            Info
        </th>
        <th>
            Remove
        </th>
        </thead>
        <tbody>
        <tr ng-repeat="record in cartCtrl.cartService.cart">
            <td class="">{{record.Name}}</td>
            <td class="">{{record.Artist}}</td>
            <td class="">{{record.Price}}</td>
            <td class="">{{record.Quantity}}</td>
            <td class="cart">
                <img src="../resources/view_details.png" height="25" width="25"
                     ng-click="cartCtrl.seeRecordDetails(record)">
            </td>
            <td>
                <img src="../resources/remove-from-cart.png" width="40" height="40" class="cart"
                     ng-click="cartCtrl.cartService.removeRecordFromCart(record)">
            </td>
        </tr>
        <br>

        </tbody>
    </table>
    <h2><u>Overall price:</u>  {{ cartCtrl.cartService.priceSum }}</h2>
    <modal-dialog show='cartCtrl.modalShown' width='750px' height='60%'>
        <p>
        <h3>Product Details:</h3>
        <b>Name:</b> {{cartCtrl.recordToSee.Name }} <br>
        <b>Artist:</b> {{cartCtrl.recordToSee.Artist }} <br>
        <b>Price:</b> {{cartCtrl.recordToSee.Price }} <br>
        <b>Released at:</b> {{cartCtrl.recordToSee.ReleasedYear }} <br>
        <b>Description:</b> {{cartCtrl.recordToSee.Description }} <br>
        <img class="recordImg" ng-src={{cartCtrl.recordToSee.PicturePath}}>
        <p>

    </modal-dialog>
</div>