<div ng-controller="recordsController as recordsCtrl">

    <h2 class="neon-text">Top Selling Records</h2>
    <table class="records">
        <thead>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Artist
        </th>
        <th>
            Year Of Release
        </th>
        <th>
            Price
        </th>
        <th ng-show="recordsCtrl.userService.isLoggedIn">
            Add
        </th>
        <th ng-show="recordsCtrl.userService.isLoggedIn">
            Remove
        </th>

        </thead>
        <tbody>
        <tr ng-repeat="record in recordsCtrl.topselingrecords | orderBy:Name">
            <td class="records"><img ng-src={{record.PicturePath}} class="ImgRecords"/></td>
            <td class="records">{{record.Name}}</td>
            <td class="records">{{record.Artist}}</td>
            <td class="records">{{record.ReleasedYear}}</td>
            <td class="records">{{record.Price}}</td>
            <td class="records" ng-show="recordsCtrl.userService.isLoggedIn"><img src="../resources/add-to-cart.png" width="40" height="40" class="cart"
                                     ng-click="recordsCtrl.addRecordToCart(record)"
                                     n>
            </td>
            <td class="records" ng-show="recordsCtrl.userService.isLoggedIn"><img src="../resources/remove-from-cart.png" width="40" height="40" class="cart"
                                     ng-click="recordsCtrl.removeRecordFromCart(record)"
                                     ng-show="recordsCtrl.userService.isLoggedIn">
            </td>
        </tr>
        </tbody>
    </table>
    <div ng-show="recordsCtrl.userService.isLoggedIn">
        <h2>Newest Records</h2>
        <table class="records">
            <thead>
            <th></th>
            <th>
                Name
            </th>
            <th>
                Artist
            </th>
            <th>
                Arrive Date InStore
            </th>
            <th>
                Price
            </th>
            <th ng-show="recordsCtrl.userService.isLoggedIn">
                Add
            </th>
            <th ng-show="recordsCtrl.userService.isLoggedIn">
                Remove
            </th>
            </thead>
            <tbody>
            <tr ng-repeat="record in recordsCtrl.newrecords | orderBy: ArriveDateInStore">
                <td class="records"><img ng-src={{record.PicturePath}} class="ImgRecords"/></td>
                <td class="records">{{record.Name}}</td>
                <td class="records">{{record.Artist}}</td>
                <td class="records">{{record.ArriveDateInStore | date:'MM/dd/yyyy'}}</td>
                <td class="records">{{record.Price}}</td>
                <td class="records"><img src="../resources/add-to-cart.png" width="40" height="40" class="cart"
                                         ng-click="recordsCtrl.addRecordToCart(record)">
                </td>
                <td class="records"><img src="../resources/remove-from-cart.png" width="40" height="40"
                                         class="cart"
                                         ng-click="recordsCtrl.removeRecordFromCart(record)">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>



