<div ng-controller="recordsMainController as recordsCtrl">
    <h2 class="neon-text"> Records</h2>
    <h2  ng-show="recordsCtrl.userService.isLoggedIn" class="neon-text" style="float:right;">Recommended </h2>
    <br>
    <br><br><br><br><br><br><br><br><br>

    <select ng-model="recordsCtrl.category" class="categorybutton">
        <option value="1">Rock</option>
        <option value="2">Pop</option>
        <option value="5">R&B</option>
        <option value="6">Jazz</option>
        <option value="7">Blues</option>
        <option value="8">Metal</option>
        <option value="9">Techno</option>
        <option value="10">House</option>
        <option value="11">EDM</option>
        <option value="12">Funk</option>
        <option value="13">Reggae</option>

    </select>
    <button ng-click="recordsCtrl.getByCategory()" class="categorybutton" >Show By Category</button>
    <input type="text" placeholder="Filter By" class="categorybutton" ng-model="recordsCtrl.filterBy">
    <div ng-show="recordsCtrl.records">
        <br><br><br>
        <table class="records" id="records">
            <thead>
            <th></th>
            <th>
                <a href="" ng-click="recordsCtrl.orderByClick('Name')" class="links">
                    Name
                </a>
            </th>
            <th>
                <a href="" ng-click="recordsCtrl.orderByClick('Artist')" class="links">
                    Artist
                </a>
            </th>
            <th>
                <a href="" ng-click="recordsCtrl.orderByClick('ReleasedYear')" class="links">
                    Year Of Release
                </a>
            </th>
            <th>
                <a href="" ng-click="recordsCtrl.orderByClick('Price')" class="links">
                    Price
                </a>
            </th>
            <th ng-show="recordsCtrl.userService.isLoggedIn">
                Add
            </th>
            <th ng-show="recordsCtrl.userService.isLoggedIn">
                Remove
            </th>
            </thead>
            <tbody>
            <tr ng-repeat="record in recordsCtrl.records |filter : recordsCtrl.filterBy |
            orderBy:recordsCtrl.fieldToOrderBy:recordsCtrl.shouldReverse">
                <td class="records"><img ng-src={{record.PicturePath}} class="ImgRecords"/></td>
                <td class="records">{{record.Name}}</td>
                <td class="records">{{record.Artist}}</td>
                <td class="records">{{record.ReleasedYear}}</td>
                <td class="records">{{record.Price}}</td>
                <td class="records" ng-show="recordsCtrl.userService.isLoggedIn"><img src="../resources/add-to-cart.png" width="40" height="40" class="cart"
                                         ng-click="recordsCtrl.addRecordToCart(record)"
                                         ng-show="recordsCtrl.userService.isLoggedIn">
                </td>
                <td class="records" ng-show="recordsCtrl.userService.isLoggedIn"><img src="../resources/remove-from-cart.png" width="40" height="40" class="cart"
                                         ng-click="recordsCtrl.removeRecordFromCart(record)"
                                         ng-show="recordsCtrl.userService.isLoggedIn">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="recordsCtrl.userService.isLoggedIn">
        <table class="records" id="recommended">
            <thead>
            <th></th>
            <th>
                <a href="" ng-click="recordsCtrl.recommendedOrderByClick('Name')" class="links">
                    Name
                </a>
            </th>
            <th>
                <a href="" ng-click="recordsCtrl.recommendedOrderByClick('Artist')" class="links">
                    Artist
                </a>
            </th>
            <th>
                <a href="" ng-click="recordsCtrl.recommendedOrderByClick('ReleasedYear')" class="links">
                    Year Of Release
                </a>
            </th>
            <th>
                <a href="" ng-click="recordsCtrl.recommendedOrderByClick('Price')" class="links">
                    Price
                </a>
            </th>
            <th ng-show="recordsCtrl.userService.isLoggedIn">
                Add
            </th>
            <th ng-show="recordsCtrl.userService.isLoggedIn">
                Remove
            </th>
            </thead>
            <tbody>
            <tr ng-repeat="record in recordsCtrl.recommendedrecords
                | orderBy:recordsCtrl.recommendedFieldToOrderBy:recordsCtrl.recommendedShouldReverse"
                class = "recordsRow">
                <td class="records"><img ng-src={{record.PicturePath}} class="ImgRecords"/></td>
                <td class="records">{{record.Name}}</td>
                <td class="records">{{record.Artist}}</td>
                <td class="records">{{record.ReleasedYear}}</td>
                <td class="records">{{record.Price}}</td>
                <td class="records"><img src="../resources/add-to-cart.png" width="40" height="40" class="cart"
                                         ng-click="recordsCtrl.addRecordToCart(record)"
                                         ng-show="recordsCtrl.userService.isLoggedIn">
                </td>
                <td class="records"><img src="../resources/remove-from-cart.png" width="40" height="40"
                                         class="cart"
                                         ng-click="recordsCtrl.removeRecordFromCart(record)"
                                         ng-show="recordsCtrl.userService.isLoggedIn">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>