
<div ng-controller="recordsController as recordsCtrl">
    <h2>Records</h2>
    <br>
    <button ng-click="recordsCtrl.getRecords()">Show All Records</button>
    <button ng-click="recordsCtrl.getByCategory()">Show By Category</button>
    <select ng-model="recordsCtrl.category">
        <option value="1">Rock</option>
        <option value="2">Pop</option>
        <option value="5">R&B</option>
    </select>
    <div ng-show="recordsCtrl.records">
        <table>
            <thead>
            <tr></tr>
                <tr>
                    <a href="" ng-click="recordsCtrl.fieldToOrderBy='Name'">
                        Name
                    </a>
                </tr>
                <tr>
                    <a href="" ng-click="recordsCtrl.fieldToOrderBy='Artist'">
                        Artist
                    </a>
                </tr>
                <tr>
                    <a href="" ng-click="recordsCtrl.fieldToOrderBy='Description'">
                        Description
                    </a>
                </tr>
                <tr>
                    <a href="" ng-click="recordsCtrl.fieldToOrderBy='ReleasedYear'">
                        Year Of Release
                    </a>
                </tr>
                <tr>
                    <a href="" ng-click="recordsCtrl.fieldToOrderBy='Price'">
                        Price
                    </a>
                </tr>

            </thead>
            <tbody>
                <tr ng-repeat="record in recordsCtrl.records | orderBy:recordsCtrl.fieldToOrderBy">
                   <td><img src="{{record.PicturePath}}" class="ImgRecords"/> </td>
                    <td>{{record.Name}}</td>
                    <td>{{record.Artist}}</td>
                    <td>{{record.Description}}</td>
                    <td>{{record.ReleasedYear}}</td>
                    <td>{{record.Price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>

</div>

<span ng-show="mainCtrl.userService.isLoggedIn">
    <h1>Recommended just for you</h1>

</span>